.App {
  text-align: center;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.headingContainer {
  display: flex;
  flex: 0 0 100%;
}

.container--input-number {
  display: flex;
}
